body {
    background-color: #F3F5FC;
}

#alura-logo {
    position: relative;
    margin-top: 2%;
    left: 5.56%;
    height: 4.69%;
    width: 3.33%;
}
#linkedin-logo {
    position: absolute;
    bottom: 0.4%;
    left: 48.5%;
    width: 1.9%;
}

#linkedin-logo img {
    width: 100%;
}

#github-logo {
    position: absolute;
    bottom: 0.4%;
    left: 51.5%;
    width: 1.9%;
}

#github-logo img {
    width: 100%;
}
/* ----- ----- ----- CAMPO DE TEXTO ----- ----- ----- */
.seccion-texto {
    position: absolute;
    top: 10%;
    left: 16.67%;
    height: 63.96%;
    width: 47.22%;
    overflow: hidden;
}

.texto-area {
    position: absolute;
    top: 5%;
    height: 95%;
    width: 100%;
    resize: none;
    border: 0;
    outline: 0;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #0A3871;
    padding: 5% 0;
    background: transparent;
}

.texto-area::placeholder {
    color: transparent;
}

.texto-area:placeholder-shown ~ .texto-label {
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    font-weight: normal;
    cursor: text;
    top: 10%;
}

.texto-label {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    top: 5.7%;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #0A3871;
}

.texto-area:focus ~ .texto-label {
    position: absolute;
    top: 0;
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    transition: 0.1s;
    font-size: 1rem;
    color: #0A3871;
    margin-top: 4%;
}

/* ----- ----- ----- BOTONES ----- ----- ----- */
#advertencia {
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    color: #495057;
    position: absolute;
    top: 81%;
    left: 16.67%;
}
.seccion-botones {
    position: absolute;
    top: 86.43%;
    left: 16.67%;
    height: 6.54%;
    width: 47.22%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton {
    position: absolute;
    height: 100%;
    width: 48%;
    font-family: 'Inter', sans-serif;
    background-color: #D8DFE8;
    border: 0.15rem solid #0A3871;
    border-radius: 1.1rem;
    color: #0A3871;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.boton:hover {
    color: #D8DFE8;
    background-color: #0A3871;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.boton:active {
    box-shadow: none;
    transform: translateY(0);
}

#encriptar {
    left: 0;
}

#desencriptar {
    right: 0;
}

/* ----- ----- ----- COPIAR TEXTO ----- ----- ----- */
#simbolo-hecho {
    display: none;
}

.seccion-copiar {
    position: absolute;
    background-color: white;
    text-align: center;
    left: 69.44%;
    top: 13.18%;
    height: 82.91%;
    width: 27.78%;
    border-radius: 2rem;
}

#output-copiar {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 67%;
    width: 90%;
    resize: none;
    border: 0;
    outline: 0;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #0A3871;
    text-align: justify;
    background: transparent;
    display: none;
}

#boton-copiar {
    display: none;
    position: absolute;
    bottom: 4%;
    left: 5%;
    height: 8%;
    width: 90%;
}

#boton-copiado-exitoso {
    display: none;
    position: absolute;
    bottom: 4%;
    left: 5%;
    height: 8%;
    width: 90%;
    background-color: green;
}

.seccion-copiar img {
    position: absolute;
    top: 12%;
    left: 5%;
    width: 90%;
}

#mensaje-copiar {
    position: absolute;
    color: #343A40;
    font-family: 'Inter', sans-serif;
    font-size: 0.7rem;
    top: 65%;
    left: 5%;
    height: 25%;
    width: 90%;
}

#mensaje-copiar h1 {
    position: absolute;
    font-size: 1.4rem;
    top: 0;
    left: 5%;
    height: 40%;
    width: 90%;
}

#mensaje-copiar p {
    position: absolute;
    font-size: 1rem;
    top: 45%;
    left: 5%;
    height: 40%;
    width: 90%;
    bottom: 0;
}


@media screen and (width <= 768px) {
    #alura-logo {
        margin-top: 7%;
        height: 10%;
        width: 7%;
    }

    #linkedin-logo {
        left: 80%;
    }

    #github-logo {
        left: 63%;
    }

    .seccion-texto {
        top: 20.44%;
        left: 5.21%;
        height: 42.59%;
        width: 89.58%;
    }

    .texto-area {
        font-size: 1.4rem;
        padding: 7% 0;
    }

    .texto-label {
        top: 6%;
        font-size: 1.4rem;
    }

    .texto-area:focus ~ .texto-label {
        top: 0;
        font-size: 1.4rem;
        margin-top: 4%;
    }

    .texto-area:placeholder-shown ~ .texto-label {
        font-size: 1.8rem;
    }

    #advertencia {
        font-size: 0.8rem;
        top: 70%;
        left: 5.21%;
    }

    .seccion-botones {
        top: 74.11%;
        left: 5.21%;
        height: 5.71%;
        width: 89.58%;
    }

    .boton {
        font-size: 1.2rem;
        border-radius: 1.5rem;
        height: 100%;
        width: 45%;
    }

    .seccion-copiar {
        top: 85.26%;
        left: 5.21%;
        height: 11.33%;
        width: 89.58%;
    }

    #output-copiar {
        height: 55%;
    }

    #boton-copiar {
        left: 35%;
        height: 30%;
        width: 30%;
    }

    .seccion-copiar img {
        display: none;
    }

    #mensaje-copiar {
        top: 5%;
        left: 5%;
        height: 90%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #mensaje-copiar h1 {
        font-size: 1rem;
    }
    #mensaje-copiar p {
        font-size: 0.8rem;
    }

    #linkedin-logo {
        left: 47.5%;
        width: 4%;
    }

    #github-logo {
        left: 52.5%;
        width: 4%;
    }
}

@media screen and (width <= 375px) {
    #alura-logo {
        margin-top: 7%;
        height: 5.14%;
        width: 12.80%;
    }

    #linkedin-logo {
        left: 67%;
    }

    #github-logo {
        left: 35%;
    }

    .seccion-texto {
        top: 16.29%;
        left: 4.27%;
        height: 26.80%;
        width: 91.47%;
    }

    .texto-area {
        font-size: 1.4rem;
        padding: 7% 0;
    }

    .texto-label {
        top: 0;
        font-size: 1.4rem;
    }

    .texto-area:focus ~ .texto-label {
        top: 0;
        font-size: 1.4rem;
        margin-top: -1.5%;
    }

    .texto-area:placeholder-shown ~ .texto-label {
        font-size: 1.8rem;
    }

    #advertencia {
        top: 47%;
    }

    .seccion-botones {
        top: 51.98%;
        left: 4.27%;
        height: 16.93%;
        width: 91.47%;
    }
    .boton {
        font-size: 1.2rem;
        border-radius: 1.5rem;
        height: 45%;
        width: 100%;
    }

    #encriptar {
        top: 0;
    }

    #desencriptar {
        bottom: 0;
    }

    .seccion-copiar {
        top: 75.78%;
        left: 4.27%;
        height: 19.94%;
        width: 89.58%;
    }

    #output-copiar {
        height: 65%;
    }

    #boton-copiar {
        height: 20%;
    }
    #mensaje-copiar {
        top: 10%;
        left: 5%;
        height: 80%;
        width: 90%;
    }

    .seccion-copiar img {
        display: none;
    }

    #linkedin-logo {
        left: 45%;
        width: 7%;
    }

    #github-logo {
        bottom: 0.4%;
        left: 55%;
        width: 7%;
    }
}

/* ----------------------------------------------*/
.shake-horizontal{animation:shake-horizontal 0.8s linear both}@keyframes shake-horizontal { 0%,100%{transform:translateX(0)}10%,30%,50%,70%{transform:translateX(-10px)}20%,40%,60%{transform:translateX(10px)}80%{transform:translateX(8px)}90%{transform:translateX(-8px)}}
/*
    Animación generada por AnimatiSS
    Licencia FreeBSD License
    URL: https://xsgames.co/animatiss
    Twitter: @xsgames_
---------------------------------------------- */

