/*
.logo {
    background-color: brown;
}
.seccion-botones {
    background-color: mediumorchid;
}
.seccion-texto {
    background-color: lightcoral;
}
.seccion-copiar {
    background-color: greenyellow;
}
*/

body {
    background-color: #F3F5FC;
}

.logo {
    position: relative;
    margin-top: 2%;
    left: 5.56%;
    height: 4.69%;
    width: 3.33%;
}

/* ----- ----- ----- CAMPO DE TEXTO ----- ----- ----- */
.seccion-texto {
    position: absolute;
    top: 10%;
    left: 16.67%;
    height: 63.96%;
    width: 47.22%;
    overflow: hidden;
}

.texto-area {
    position: absolute;
    top: 5%;
    height: 95%;
    width: 100%;
    resize: none;
    border: 0;
    outline: 0;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #0A3871;
    padding: 5% 0;
    background: transparent;
}

.texto-area::placeholder {
    color: transparent;
}

.texto-area:placeholder-shown ~ .texto-label {
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    font-weight: normal;
    cursor: text;
    top: 10%;
}

.texto-label {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    top: 5.7%;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #0A3871;
}

.texto-area:focus ~ .texto-label {
    position: absolute;
    top: 0;
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    transition: 0.1s;
    font-size: 1rem;
    color: #0A3871;
    margin-top: 4%;
}

.texto-area:required,
.texto-area:invalid {
    box-shadow: none;
}

/* ----- ----- ----- BOTONES ----- ----- ----- */
.seccion-botones {
    position: absolute;
    top: 86.43%;
    left: 16.67%;
    height: 6.54%;
    width: 47.22%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-botones button {
    position: absolute;
    height: 100%;
    width: 48%;
    font-family: 'Inter', sans-serif;
    background-color: #D8DFE8;
    border: 0.15rem solid #0A3871;
    border-radius: 1.1rem;
    color: #0A3871;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.seccion-botones button:hover {
    color: #D8DFE8;
    background-color: #0A3871;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.seccion-botones button:active {
    box-shadow: none;
    transform: translateY(0);
}

.encriptar {
    left: 0;
}

.desencriptar {
    right: 0;
}

/* ----- ----- ----- COPIAR TEXTO ----- ----- ----- */
.seccion-copiar {
    position: absolute;
    background-color: white;
    text-align: center;
    left: 69.44%;
    top: 13.18%;
    height: 82.91%;
    width: 27.78%;
    border-radius: 2rem;
}

.seccion-copiar img {
    position: absolute;
    top: 12%;
    left: 5%;
    width: 90%;
}

.mensaje-copiar {
    position: absolute;
    color: #343A40;
    font-family: 'Inter', sans-serif;
    font-size: 0.7rem;
    top: 65%;
    left: 5%;
    width: 90%;
}
.mensaje-copiar p {
    font-size: 0.9rem;
}

@media screen and (width <= 768px) {
    .logo {
        margin-top: 7%;
        height: 10%;
        width: 7%;
    }

    .seccion-texto {
        top: 20.44%;
        left: 5.21%;
        height: 42.59%;
        width: 89.58%;
    }

    .texto-area {
        font-size: 1.4rem;
        padding: 7% 0;
    }

    .texto-label {
        top: 6%;
        font-size: 1.4rem;
    }

    .texto-area:focus ~ .texto-label {
        top: 0;
        font-size: 1.4rem;
        margin-top: 4%;
    }

    .texto-area:placeholder-shown ~ .texto-label {
        font-size: 1.8rem;
    }

    .seccion-botones {
        height: 5.71%;
        width: 89.58%;
        position: absolute; /* Añade posición relativa a la sección */
    }

    .seccion-botones button {
        font-size: 1.2rem;
        border-radius: 1.5rem;
        position: absolute; /* Añade posición absoluta a los botones */
        height: 45%;
        width: 100%; /* Añade ancho del 100% */
    }

    .encriptar {
        top: 0;
    }

    .desencriptar {
        bottom: 0;
    }



    .seccion-copiar {
        top: 85.26%;
        left: 5.21%;
        height: 11.33%;
        width: 89.58%;
    }

    .seccion-copiar img {
        display: none;
    }

    .mensaje-copiar {
        top: 10%;
    }

    .mensaje-copiar h1 {
        font-size: 1.4rem;
        font-weight: bolder;
    }
}

@media screen and (width <= 375px) {
    .logo {
        margin-top: 7%;
        height: 5.14%;
        width: 12.80%;
    }

    .seccion-texto {
        top: 16.29%;
        left: 4.27%;
        height: 26.80%;
        width: 91.47%;
    }

    .texto-area {
        font-size: 1.4rem;
        padding: 7% 0;
    }

    .texto-label {
        top: 6%;
        font-size: 1.4rem;
    }

    .texto-area:focus ~ .texto-label {
        top: 0;
        font-size: 1.4rem;
        margin-top: 4%;
    }

    .texto-area:placeholder-shown ~ .texto-label {
        font-size: 1.8rem;
    }

    .seccion-botones {
        top: 51.98%;
        left: 4.27%;
        height: 16.93%;
        width: 91.47%;
    }
    .seccion-botones button {
        font-size: 1.2rem;
        border-radius: 1.5rem;
    }

    .seccion-copiar {
        top: 75.78%;
        left: 4.27%;
        height: 19.94%;
        width: 89.58%;
    }

    .seccion-copiar img {
        display: none;
    }

    .mensaje-copiar {
        top: 10%;
    }

    .mensaje-copiar h1 {
        font-size: 1.4rem;
        font-weight: bolder;
    }
}